html {
    font-size: 16px;
}

body {
    font-family: sans-serif;
    text-align: center;
}

:root {
    --background-color: #0d1117;
    --background-color-contrast: #131922;
    --background-color-contrast-focus: #19202c;
}

/// START ARTICLES

.articles {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}

.articles-list {
    flex: 1;
    background-color: var(--background-color);
    color: white;
    height: 100vh;
    overflow: auto;
}

.articles-list .articles-list-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.articles-list .articles-list-item {
    width: 100%;
    margin-bottom: 10px;
}

.articles-list .articles-list-item a {
    text-decoration: none;
    outline: none;
}

.articles-list .articles-list-item .articles-list-item-link {
    padding: 25px;
    color: white;
    transition: background-color 0.3s ease;
    background-color: var(--background-color-contrast);
}

.articles-list .articles-list-item .articles-list-item-link:hover {
    background-color: var(--background-color-contrast-focus);
}

.articles-article {
    flex: 3;
    border-left: 2px solid white;
}

.articles-list h1 {
    font-size: 2rem;
}


.articles-article {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
}

.articles-article .markdown-body {
    text-align: left;
}

.articles-article .markdown-body {
    padding: 5% 5%;
    height: 100vh;
    overflow: auto;
}

.articles-article img {
    max-height: 90vh;
}

pre code.hljs {
    padding: 0 !important;
}

.markdown-body h1,
h2,
h3,
h4,
h5,
h6 {
    padding-top: .3em;
}

/// END ARTICLES

/// START CLICK MAZE

.click-maze {
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: black;
    flex-direction: column;
    padding: 30px 30px;
    user-select: none;
}

.click-maze-row {
    display: flex;
    width: 100%;
    flex: 1;
}

.click-maze-col {
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
    overflow-wrap: anywhere;
}

.click-maze-col.hide {
    // background-color: black;
    // background-image: url("https://static.vecteezy.com/system/resources/previews/000/181/825/large_2x/abstract-forest-illustration-vector.jpg");
    // background-image: url("https://static.vecteezy.com/system/resources/previews/002/878/961/large_2x/pine-forest-fog-illustration-illustration-vector.jpg");
    // background-image: url("https://static.vecteezy.com/system/resources/previews/000/181/850/large_2x/deciduous-forest-silhouette-illustration-vector.jpg");
    background-image: url("https://static.vecteezy.com/system/resources/previews/022/010/663/non_2x/question-mark-seamless-pattern-background-vector.jpg");
    background-size: cover;
}

.click-maze-col.path:not(.hide),
.click-maze-col.start:not(.hide) {
    background-color: white;
    // background-image: url("https://static.vecteezy.com/system/resources/previews/055/316/613/non_2x/geometric-zigzag-pattern-with-repeating-red-yellow-and-black-lines-on-a-white-background-vector.jpg");
    // background-size: cover;
}

.click-maze-col.block:not(.hide) {
    background-image: url("https://static.vecteezy.com/system/resources/previews/045/896/831/non_2x/modern-simple-abstract-pattern-free-vector.jpg");
    background-size: cover;
}


.click-maze-col.exit:not(.hide) {
    background-image: url("https://static.vecteezy.com/system/resources/previews/035/806/668/large_2x/a-seamless-pattern-of-walking-stick-figure-on-a-gray-background-pedestrian-sign-vector.jpg");
    background-size: cover;
}

.click-maze-col.restart:not(.hide) {
    background-image: url("https://static.vecteezy.com/system/resources/previews/025/895/158/large_2x/clock-timer-seamless-pattern-background-business-flat-illustration-clock-watch-sign-symbol-pattern-vector.jpg");
    background-size: cover;
    cursor: pointer;
}

.click-maze-col.highlight_on_hover:hover {
    box-shadow: 0 2px 0 #000 inset,
        2px 0 0 #000 inset;
    cursor: pointer;
}

/// END CLICK MAZE

/// START DRAGNROP UPLOAD

.dragndrop>.wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    background-color: black;
}

.dragndrop>.wrapper>.box {
    background-color: orange;
    width: 50%;
    height: 50vh;
    display: flex;
}

.dragndrop>.wrapper>.box.dragged_over {
    background-color: orangered;
}


.dragndrop>.wrapper>.box>.column {
    display: flex;
    flex-direction: column;
    width: 50%;
    overflow-y: auto;
    height: 100%;
}

// .dragndrop>.wrapper>.box>.dropped_files {}

.dragndrop>.wrapper>.box>.message_column {
    justify-content: center;
    align-items: center;
}

.dragndrop>.wrapper>.box>.dropped_files>.dropped_file {
    word-wrap: break-word;
    background-color: orangered;
    width: 100%;
    padding: 1rem;
    border-bottom: 2px solid white;
    user-select: none;
    cursor: pointer;
}

.dragndrop>.wrapper>.box>.dropped_files>.dropped_file:active {
    background-color: purple;
}

.dragndrop>.wrapper>.bin {
    background-color: gray;
    width: 25%;
    height: 25vh;
}